# Real comments in this file are marked with '#' whereas commented out lines
# are marked with '!'

# If access to the DB authentication should only be allowed from certain
# IP addresses then provide a space separated list of allowed values. These 
# take the form of an IPV4 or IPV6 address followed by the number of bits 
# (starting from the most significant) to consider.
!ip = 130.246.0.0/16   172.16.68.0/24

# The mechanism label to appear before the user name. This may be omitted.
mechanism = db