name: CI Build
on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build_and_tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        java: [ '8', '11' ]
    steps:
      - name: Add apt Repo
        run: sudo add-apt-repository universe

      # Setup Java & Python
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9.7"
          architecture: x64

      # ICAT Ansible clone and install dependencies
      - name: Checkout icat-ansible
        uses: actions/checkout@v2
        with:
          repository: icatproject-contrib/icat-ansible
          ref: make-dev-common-work-with-ubuntu-20
          path: icat-ansible
      - name: Install Ansible
        run: pip install -r icat-ansible/requirements.txt

      # Prep for running the playbook
      - name: Create Hosts File
        run: echo -e "[icatdb-minimal-hosts]\nlocalhost ansible_connection=local" > icat-ansible/hosts
      - name: Prepare vault pass
        run: echo -e "icattravispw" > icat-ansible/vault_pass.txt
      - name: Move vault to directory it'll get detected by Ansible
        run: mv icat-ansible/vault.yml icat-ansible/group_vars/all
      - name: Replace default payara user with Actions user
        run: |
          sed -i -e "s/^payara_user: \"glassfish\"/payara_user: \"runner\"/" icat-ansible/group_vars/all/vars.yml
      - name: Add Ansible Roles
        run: |
          sed -i "/- role: authn-anon$/a\
          \    - role: authn-db" icat-ansible/icatdb-minimal-hosts.yml
          sed -i "/- role: icat-server$/a\
          \    - role: dev-common" icat-ansible/icatdb-minimal-hosts.yml

      # Force hostname to localhost - bug fix for previous ICAT Ansible issues on Actions
      - name: Change hostname to localhost
        run: sudo hostname -b localhost

      # Create local instance of ICAT
      - name: Run ICAT Ansible Playbook
        run: |
          ansible-playbook icat-ansible/icatdb-minimal-hosts.yml -i icat-ansible/hosts --vault-password-file icat-ansible/vault_pass.txt -vv

      # The authn-db deployed by ansible needs to be undeployed so that the build can run
      - name: Undeploy authn-db
        run: |
          cd /home/runner/payara*/glassfish*/bin
          PATH=$PATH:`pwd`
          asadmin undeploy `asadmin list-applications | grep authn.db | awk '{print $1;}'`

      - name: Checkout authn-db
        uses: actions/checkout@v2

      - name: Run Build
        run: |
          grep payara ~/.bash_profile > payara_path_command
          source payara_path_command
          mvn install -DskipTests
